/* 
.reveal .backgrounds {
    position: absolute;
    width: 10%;
    height: 10%;
    top: 0;
    left: 0;
    perspective: 600px
} */

.reveal .logo {
	/* position: fixed; */
	/* display: block; */
	/* left: 8px; */
	/* bottom: 8px; */
	/* z-index: 31; */
  	/* width: 80px;    */
  	/* height: 80px; */
  	background-image: "./ResBazSlideBackgroundJustLogo.svg";
  	/* background-size: 80px; */
  	/* background-position: 0% 100%; */
  	background-repeat: no-repeat;
}